.toggleButton {
  width: 50px;
  height: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  border: 2px solid hsl(0deg, 0%, 5%);
  background: white;
  outline-offset: 2px;
  border-radius: 1px;
  cursor: pointer;

  /*
    HACK: If I was building this UI in real life, I would
    use Flexbox to lay out the group of buttons, using the
    “gap” property to add space between them, and
    controlling their alignment with “align-items”. Since
    we haven’t covered Flexbox in the course yet, I’m
    solving this using Flow layout, which requires a
    couple of additional properties
  */
  vertical-align: middle;
  margin-right: 4px;

  /*
    The button contains a "visually-hidden" snippet,
    and we want it to be contained by this button,
    to prevent some funky scroll issues from happening.
  */
  position: relative;
}

.toggleButton[aria-pressed="true"] {
  background: hsl(0deg, 0%, 5%);
  color: white;
  border-width: 6px;
}

/* Excercise 5 */
@media screen and (max-width: 45rem) {
  .toggleButton {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }
}
