.buttonRow {
  /* Excercise 3 */
  /* LOL - that was a clever problem you created so cool I nolong wonder why you included that! */
  /* Force the overflow by preventing line wrap.
  Then instead of using overflow: scroll use
  overflow: auto. It removes the scroll bars for those that don't have enough to scroll.
   */
  white-space: nowrap;
  overflow-x: auto;

  /*
    Solution addition:
    Josh styled the button row to remove the padding from the container which positions the scrollbar to the edge of the component. In addition he allows for a 2px gap between the scrollbar and the edge.

    This is a stylistic modification that I think looks ok and a bit cleaner. 
     */
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: -22px;
  padding: 22px;
}
