.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

/*
  Excercise 1
  Added styles to anchor.
 */
a {
  /* color: white; */
  /* Josh's solution. This allows you to copy the text color without adjusting. */
  color: inherit;
}

a:focus,
a:visited {
  color: inherit;
}

a:hover {
  /* Note: Outline/border does not inherit color */
  outline: 2px solid white;
  /* Having fun... :-) */
  color: lime;
}

/* Excercise 5 */
@media screen and (max-width: 45rem) {
  .footer {
    font-size: 16px;
  }
}
