body {
  background-color: hsl(180deg 25% 92%);
  margin: 0;
  position: relative; /* Anchors the bar */
}

/* Excercise 4 */
.bar {
  position: absolute;
  background-color: hsl(195deg, 20%, 86%);
  width: 100%;
  height: 40%;
  bottom: 5%;
  left: 0;
  z-index: -1;
}

*,
*:before,
*:after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*
  A utility class to totally remove something from the screen,
  while still keeping it available for screen-readers.
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
